/* Global */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #233329 0%, #63D471 100%);
}


/* Layout */
.container, .container-large  {
  width: 80%;
  margin: 0 auto 3rem auto;
  background-color: aliceblue;
  padding: 3rem;
  border-radius: 20px;
}

.container { max-width: 800px }

h1 {
  text-align: center;
  padding-bottom: 2rem;
}

/* Main Nav */
#main-nav {
  margin-bottom: 1rem;
}

#main-nav ul {
  display: flex;
  align-items: flex-end;
}

#main-nav a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  margin: 10px;
}

#main-nav a:hover {
  background: whitesmoke;
  color: #333;
  border-radius: 0 10px 0 10px;
}

#main-nav li {
  list-style: none;
}

/* Home */
#sword {
  width: 30%;
  margin-left: 50%;
  transform: translate(-50%);
}

/* Films */
#info ul {
  list-style: '🎬 ';
  line-height: 1.75;
  padding-left: 2rem;
}

/* Minichat */

#minichat {
  display: flex;
}

#minichat form {
  width: 40%;
  border-right: 3px solid #333;
  padding-right: 1rem;
}

#minichat .form-group {
  padding: 5px;
  margin: 5px 0;
  width: 100%;
}

#minichat .form-group > * {
  margin: 5px 0;
}

#minichat .form-group input {
  width: 100%;
}

#minichat .form-group textarea {
  width: 100%;
}

#minichat .form-group input[type="submit"] {
  width: 80%;
}

#minichat .form-group a {
  text-decoration: none;
  width: 20%;
}

#minichat > div {
  padding-left: 1rem;
}

#minichat>div p {
  line-height: 1.5rem;
}

#minichat > div .date {
  font-size: 0.85rem;
}
